@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gilroyLight';
  src: url('/fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'gilroyRegular';
  src: url('./../../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.fixedElement {
  position: fixed !important;
}

@font-face {
  font-family: 'gilroyBold';
  src: url('./../../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'gilroyExtraBold';
  src: url('./../../fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'gilroySemiBold';
  src: url('./../../fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
  font-family: 'gilroyRegular', sans-serif;
}

.gilroyLight {
  font-family: 'gilroyLight', sans-serif;
}
.gilroySemiBold {
  font-family: 'gilroySemiBold', sans-serif;
}
.gilroyRegular {
  font-family: 'gilroyRegular', sans-serif;
}
.gilroyBold {
  font-family: 'gilroyBold', sans-serif;
}
.gilroyExtraBold {
  font-family: 'gilroyExtraBold', sans-serif;
}

section {
}

:root {
}

body {
  background-color: #000;
}

.secret {
  background-image: linear-gradient(to bottom, #000, #660099);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.fade-in {
  animation-name: fade-in;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.fixedContainer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
